---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %} -->

{% include base_path %}

<!-- {% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->

Feel free to write to me if you cannot access the papers or have any question.

<ol reversed>

<li>
Durotaxis in viscoelastic fluids.<br>
V. A. Shaik, J. Gong and G. J. Elfring, <a href="https://doi.org/10.1103/3j7r-lwv7"><i>Physical Review Fluids (Letter)</i></a>, 10, L071301, 2025.
</li>
