---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %} -->

{% include base_path %}

<!-- {% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->

Feel free to write to me if you cannot access the papers or have any questions.

<ol reversed>

<li>
Durotaxis in viscoelastic fluids <br>
V. A. Shaik, J. Gong and G. J. Elfring, <a href="https://doi.org/10.1103/3j7r-lwv7"><i>Physical Review Fluids (Letter)</i></a>, 10, L071301, 2025
</li>

<li>
Mixing by squirmers in stratified fluids <br>
V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1103/PhysRevFluids.10.024102"><i>Physical Review Fluids</i></a>, 10, 024102,
2025
</li>

<li>
Swimming efficiency in viscosity gradients <br>
J. Gong, V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1017/jfm.2024.627"><i>Journal of Fluid Mechanics</i></a>, 998, A2, 2024
</li>

<li>
Densitaxis: Active particle motion in density gradients <br>
V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1073/pnas.2405466121"><i>PNAS</i></a>, 121, e2405466121, 2024
</li>

<li>
Active spheroids in viscosity gradients <br>
J. Gong, V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1017/jfm.2024.227"><i>Journal of Fluid Mechanics</i></a>, 984, A26, 2024
</li>

<li>
Confined active matter in external fields <br>
V. A. Shaik, Z. Peng, J. F. Brady and G. J. Elfring, <a href="https://doi.org/10.1039/D2SM01135B"><i>Soft Matter</i></a>, 19, 1384-1392, 2023
</li>

<li>
Active particles crossing sharp viscosity gradients <br>
J. Gong, V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1038/s41598-023-27423-8"><i>Scientific Reports</i></a>, 13, 596, 2023
</li>

<li>
Hydrodynamics of active particles in viscosity gradients <br>
V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1103/PhysRevFluids.6.103103"><i>Physical Review Fluids</i></a>, 6, 103103, 2021
</li>

<li>
Squirming in density-stratified fluids <br>
V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.1063/5.0065958"><i>Physics of Fluids</i></a>, 33, 101903, 2021
</li>

<li>
Far-field flow and drift due to particles and organisms in density-stratified fluids <br>
V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.1103/PhysRevE.102.063106"><i>Physical Review E</i></a>, 102, 063106, 2020
</li>

<li>
Towards an analytical description of active microswimmers in clean and surfactant-covered drops <br>
A. R. Sprenger, V. A. Shaik, A. M. Ardekani, M. Lisicki, A. J. T. M. Mathijssen, F. Guzman-Lastra, H. Lowen, <br>
A. M. Menzel and A. Daddi-Moussa-Ider, <a href="https://doi.org/10.1140/epje/i2020-11980-9"><i>The European Physical Journal E</i></a>, 43, 58, 2020
</li>

<li>
Motion of an arbitrarily shaped particle in a density-stratified fluid <br>
R. Dandekar, V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.1017/jfm.2020.81"><i>Journal of Fluid Mechanics</i></a>, 890, A16, 2020
</li>

<li>
Drag, deformation, and drift volume associated with a drop rising in a density-stratified fluid <br>
V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.1103/PhysRevFluids.5.013604"><i>Physical Review Fluids</i></a>, 5, 013604, 2020
</li>

<li>
Swimming sheet in a density-stratified fluid <br>
R. Dandekar, V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.1017/jfm.2019.445"><i>Journal of Fluid Mechanics</i></a>, 874, 210-234, 2019
</li>

<li>
Hydrodynamic Interaction Enhances Colonization of Sinking Nutrient Sources by Motile Microorganisms <br>
N. Desai, V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.3389/fmicb.2019.00289"><i>Frontiers in Microbiology</i></a>, 10, 289, 2019
</li>

<li>
Swimming sheet near a plane surfactant laden interface <br>
V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.1103/PhysRevE.99.033101"><i>Physical Review E</i></a>, 99, 033101, 2019
</li>

<li>
Locomotion inside a surfactant laden drop at low surface Péclet numbers <br>
V. A. Shaik, V. Vasani and A. M. Ardekani, <a href="https://doi.org/10.1017/jfm.2018.491"><i>Journal of Fluid Mechanics</i></a>, 851, 187-230, 2018
</li>

<li>
Hydrodynamics-mediated trapping of micro-swimmers near drops <br>
N. Desai, V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.1039/C7SM01615H"><i>Soft Matter</i></a>, 14, 264-278, 2018
</li>

<li>
Point force singularities outside a drop covered with an incompressible surfactant: Image systems and their applications <br>
V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.1103/PhysRevFluids.2.113606"><i>Physical Review Fluids</i></a>, 2, 113606, 2017
</li>

<li>
Motion of a model swimmer near a weakly deforming interface <br>
V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.1017/jfm.2017.285"><i>Journal of Fluid Mechanics</i></a>, 824, 42-73, 2017
</li>

<li>
AC Electric Field-Induced Trapping of Microparticles in Pinched Microconfinements <br>
R. Dey, V. A. Shaik, D. Chakraborty, S. Ghosal and S. Chakraborty, <a href="https://doi.org/10.1021/la504795m"><i>Langmuir</i></a>, 31, 59525961, 2015
</li>

<li>
Effects of finite ionic size and solvent polarization on the dynamics of electrolytes probed through harmonic disturbances <br>
A. Bandopadhyay, V. A. Shaik and S. Chakraborty, <a href="https://doi.org/10.1103/PhysRevE.91.042307"><i>Physical Review E</i></a>, 91, 042307, 2015
</li>
  
</ol>
