---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %} -->

{% include base_path %}

<!-- {% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->

Feel free to write to me if you cannot access the papers or have any questions.

<ol reversed>

<li>
Durotaxis in viscoelastic fluids <br>
V. A. Shaik, J. Gong and G. J. Elfring, <a href="https://doi.org/10.1103/3j7r-lwv7"><i>Physical Review Fluids (Letter)</i></a>, 10, L071301, 2025
</li>

<li>
Mixing by squirmers in stratified fluids <br>
V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1103/PhysRevFluids.10.024102"><i>Physical Review Fluids</i></a>, 10, 024102,
2025
</li>

<li>
Swimming efficiency in viscosity gradients <br>
J. Gong, V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1017/jfm.2024.627"><i>Journal of Fluid Mechanics</i></a>, 998, A2, 2024
</li>

<li>
Densitaxis: Active particle motion in density gradients <br>
V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1073/pnas.2405466121"><i>PNAS</i></a>, 121, e2405466121, 2024
</li>

<li>
Active spheroids in viscosity gradients <br>
J. Gong, V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1017/jfm.2024.227"><i>Journal of Fluid Mechanics</i></a>, 984, A26, 2024
</li>

<li>
Confined active matter in external fields <br>
V. A. Shaik, Z. Peng, J. F. Brady and G. J. Elfring, <a href="https://doi.org/10.1039/D2SM01135B"><i>Soft Matter</i></a>, 19, 1384-1392, 2023
</li>

<li>
Active particles crossing sharp viscosity gradients <br>
J. Gong, V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1038/s41598-023-27423-8"><i>Scientific Reports</i></a>, 13, 596, 2023
</li>

<li>
Hydrodynamics of active particles in viscosity gradients <br>
V. A. Shaik and G. J. Elfring, <a href="https://doi.org/10.1103/PhysRevFluids.6.103103"><i>Physical Review Fluids</i></a>, 6, 103103, 2021
</li>

<li>
Squirming in density-stratified fluids <br>
V. A. Shaik and A. M. Ardekani, <a href="https://doi.org/10.1063/5.0065958"><i>Physics of Fluids</i></a>, 33, 101903, 2021
</li>
  
</ol>
